{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="shared-container">
    <h1>About Us</h1>
    <p>
        Stubblify is a predictive analytics platform developed for the Punjab Safe Cities Authority (PSCA) to monitor
        and forecast stubble burning across regions. It enables data-driven interventions for environmental
        sustainability and helps assess the impact of related policies. Created by a team of developers and
        solution-finders, Stubblify harnesses AI and satellite data to support cleaner air and smarter governance.
    </p>

    <div class="group-info">
        <h4>Group ID = 129</h4>
        <h4>Members</h4>
        <h5>1. Laiba Faisal</h5>
        <h5>2. Laiba Imran</h5>
        <h4>Supervisor</h4>
        <h5>Sir Faiz Rasool</h5>
    </div>
</div>
{% endblock %}